@using StarWarsApp
@using StarWarsApp.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model StarWarsApp.Models.AddFanViewModel

@{
    ViewData["Title"] = "CreateFan";
}

<h1>Create Fan</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Starwars" asp-action="CreateFanResults">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FanName" class="control-label"></label>
                <input asp-for="FanName" class="form-control" />
                <span asp-validation-for="FanName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



